version: "3.9"

services:
  prometheus:
    image: prom/prometheus
    container_name: pi-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: pi-grafana
    ports:
      - "3000:3000"
